.dragArea {
  @apply w-[800px] h-[40px] bg-transparent float-left absolute z-[99999] cursor-pointer;
}
.login-container {
  // font-size: $text-fontSize;
  // color: $test-color;
  @apply bg-[#eee]! relative flex flex-1 justify-center items-center min-w-[550px] h-[calc(100%-200px)] min-h-[500px] bg-[url('@/assets/svg/login/background.svg')] bg-center bg-cover;
  .login-box {
    @apply w-[800px] h-[540px] flex bg-[#fff] rounded-[6px] shadow-[0_0_10px_rgba(0,_0,_0,_0.149019607843137)] border-[0px];

    .login-left {
      @apply border-0 w-[330px] h-[540px] flex flex-col text-center leading-[24px] bg-[url('@/assets/svg/login/left.svg')] bg-center bg-cover;
    }

    .login-form {
      @apply border-0 w-[420px] h-[460px] flex p-[40px] flex-col text-left text-[#000000] leading-[24px] flex-1;
    }
  }
}
