:root {
  --g-workflow-port-color-primary: #4d53e8;
  --g-workflow-port-color-secondary: #9197f1;
  --g-workflow-port-color-error: #ff0000;
  --g-workflow-port-color-background: #ffffff;
}

.gedit-selector-bounds-background {
  cursor: move;
  display: none !important;
}

.gedit-selector-bounds-foreground {
  cursor: move;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  outline: 1px solid var(--g-playground-selectBox-outline);
  z-index: 33;
  background-color: var(--g-playground-selectBox-background);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.workflow-feature-overview {
  width: 100%;
  height: 100%;

  .workflow-container {
    position: relative;
    left: 0px;
    top: 0px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;

    .workflow-editor {
      flex-grow: 1;
      position: relative;
      height: 100%;
    }
  }
}
